h1,b,i,p,ul{
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

 body{
    background-color: rgb(0, 0, 0);
} 

h1{
    padding-left: 700px;
    font-size: 50px;
}
h2{
    padding-left: 600px;
    font-size: 50px;
}

p{
    padding-left: 300px;
    padding-right: 300px;
    font-size: 30px;
}
p{
    border-style: solid;
    border-color: #ffffff;
    border-width: 2px,10px,15px,3px;
}
a{
    font-size: 20px;
}
li{
    font-size: 30px;
}

img{
    width: 300px;
    padding-left: 600px;
}
body{
    background-image: url(../images/fon.gif);
}